# Python cache files
__pycache__/
*.pyc

# PyInstaller files
build/
embedpython/
dist/
*.spec

# Personal settings — folder paths for this user's machine
settings.json

# To withhold users names
user_id_map.json

# VS Code settings
.vscode/